rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /opinions/{document} {
      allow create: if request.resource.data.id == request.auth.uid;
      allow update: if request.resource.data.id == request.auth.uid &&
      resource.data.id == request.auth.uid;
    }
  }
}